html {
    scroll-behavior: smooth;
    background-color: #EAD3cb;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    transition: all 2s ease;
    color: #000;
}
.headerCopahueImg{
    height: 100vh;
    width: 100%;
}
.arrowsHeader{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
}
.arrowHeader{
    background-color: #BDC7C9;
    border-radius: 12px;
    font-size: 40px;
    cursor: pointer;
}
.navBar ul{
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
}
.inicioBox{
    height: 35vh;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}
.boxDescription{
    border: solid 1px black;
    border-radius: 12px;
    width: 60vh;
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
}
.instalacionesServicios__h3{
    text-align: center;
}
.instalacionesServicios__cards{
    display: flex;
    justify-content: space-around;
    margin-left: 90px;
    padding-top: 50px;
}
.instalacionesServicios__tittles{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    align-items: center;
    position: absolute;
}
.habitacionesTitle{
    text-align: center;
    margin-top: 25px;
}
.habitacionesContainer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 25px;
}
.habitacionesContainerCards{
    width: 50vh;
    border: 1px solid black;
    border-radius: 25px;
}
.habitacionesContainerCardsImage{
    width: 100%;
    border-radius: 25px;
}
.titleInfoHabitacion{
    padding: 12px
}
.buttonReservaHabitacion{
    border: 1px solid black;
    width: 18%;
    border-radius: 12px;
    margin: auto;
}
.reservaTitle{
    text-align: center;
    margin: 25px;
}
.reservaSeccion{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.reservaSeccionContacto{
    border: 1px solid black;
    height: 20%;
    margin-top: 5%;
}
.footerCopahue{
    text-align: center;
    margin-top: 5%;
}
.dropdown a{
    cursor: pointer;
}
.dropdownContent{
    margin-top: 35px;
    display: none;
}
.dropdownContent a{
    border: 1px solid white;
}
@keyframes carrousel{
    0%{
        background-image: url(./images/image1.jpg);
    }
    25%{
        background-image: url(./images/image2.jpeg);
    }
    50%{
        background-image: url(./images/imag3.jpg);
    }
    75%{
        background-image: url(./images/image5.jpeg);
    }
    100%{
        background-image: url(./images/image6.jpg);
    }
}
.dropdownContent a:hover{
    background-color: aquamarine;
}
.dropdown:hover .dropdownContent {
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.formulario{
    font-size: 15px;
}
.corrouselAnimation{
    margin: auto;
    width: 100vh;
    height: 65vh;
    border: solid 1px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: carrousel 20s infinite;
}
@media screen and (max-width: 320px) {
    .navBar ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 190px;
    }
    .dropdownContent{
        height: 40px;
    }
    .corrouselAnimation{
        display: none;
    }
    .inicioBox{
        display: block;
    }
    .inicioBox iframe{
        width: 100%;
    }
    .boxDescription{
        margin-top: 20px;
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .instalacionesServicios{
        margin-top: 200px;
    }
    .instalacionesServicios__tittles{
        flex-direction: column !important;
        justify-content: space-between !important;
        margin-top: 240px !important;
        height: 950px !important;
    }
    .instalacionesServicios__cards{
        display: block !important;
        margin: auto !important;
        text-align: center !important;
        padding-top: 7% !important;
    }
    .instalacionesServicios__cards img{
        width: 320px !important;
    }
    .habitacionesContainer{
        display: block;
    }
    .habitacionesContainerCards{
        width: 320px !important;
    }
    .buttonReservaHabitacion{
        width: 30% !important;
    }
    .reservaSeccion{
        display: block;
    }
    .formulario{
        margin-top: 20px;
    }
}
@media screen and (max-width: 375px) {
    .navBar ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 190px;
    }
    .dropdownContent{
        height: 40px;
    }
    .corrouselAnimation{
        display: none;
    }
    .inicioBox{
        display: block;
    }
    .inicioBox iframe{
        width: 100%;
    }
    .boxDescription{
        margin-top: 20px;
        width: 100% !important;
        height: 50%;
        text-align: center;
    }
    .instalacionesServicios{
        margin-top: 200px;
    }
    .instalacionesServicios__tittles{
        flex-direction: column !important;
        justify-content: space-between !important;
        margin-top: 240px !important;
        height: 1000px !important;
    }
    .instalacionesServicios__cards{
        display: block !important;
        margin: auto !important;
        text-align: center !important;
        padding-top: 7% !important;
    }
    .instalacionesServicios__cards img{
        width: 375px !important;
    }
    .habitacionesContainer{
        display: block;
    }
    .habitacionesContainerCards{
        width: 375px !important;
    }
    .buttonReservaHabitacion{
        width: 30% !important;
    }
    .reservaSeccion{
        display: block;
    }
    .formulario{
        margin-top: 20px;
    }
}
@media screen and (max-width: 425px) {
    .corrouselAnimation{
        width: 425px !important;
    }
    .inicioBox{
        display: block !important;
    }
    .inicioBox iframe{
        width: 100%;
    }
    .boxDescription{
        width: 425px !important;
    }
    .instalacionesServicios{
        margin-top: 200px;
    }
    .instalacionesServicios__tittles{
        flex-direction: column !important;
        justify-content: space-between !important;
        margin-top: 240px !important;
        height: 970px !important;
    }
    .instalacionesServicios__cards{
        display: block !important;
        margin: auto !important;
        text-align: center !important;
        padding-top: 7% !important;
    }
    .instalacionesServicios__cards img{
        width: 425px !important;
    }
    .habitacionesContainer{
        display: block;
    }
    .habitacionesContainerCards{
        width: 425px !important;
    }
    .buttonReservaHabitacion{
        width: 30% !important;
    }
    .reservaSeccion{
        display: block;
    }
    .formulario{
        margin-top: 20px;
    }
}
@media screen and (max-width: 768px) {
    .corrouselAnimation{
        width: 768px;
    }
    .instalacionesServicios__cards{
        margin: auto;
    }
    .instalacionesServicios__cards img{
        width: 250px;
        height: 480px;
    }
    .buttonReservaHabitacion{
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .instalacionesServicios__cards{
        margin: auto;
    }
    .instalacionesServicios__cards img{
        width: 250px;
        height: 480px;
    }
    .buttonReservaHabitacion{
        width: 50%;
    }
}


